spring:

  profiles:
     active: dev #发布时修改成发布的配置文件 prod

  datasource:
     type: com.alibaba.druid.pool.DruidDataSource #阿里巴巴的数据库连接池
     driver-class-name: com.mysql.jdbc.Driver
     url: jdbc:mysql://127.0.0.1:3306/belief?useUnicode=true&characterEncoding=utf-8&useSSL=false
     username: root
     password: tiger
     #druid配置
     usessl: false
     initialSize: 5
     minIdle: 5
     maxActive: 20
     maxWait: 60000
     timeBetweenEvictionRunsMillis: 60000
     minEvictableIdleTimeMillis: 300000
     validationQuery: SELECT 1
     testWhileIdle: true
     testOnBorrow: false
     testOnReturn: false
     poolPreparedStatements: true
     maxPoolPreparedStatementPerConnectionSize: 20
     filters: stat,wall,slf4j
  redis:
     host: 127.0.0.1
     port: 6379
     database: 0
     password:
     pool:
       max-wait: -1
       max-active: 8
       max-idle: 8
       min-idle: 0





