<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>主页</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}"/>
</head>
<body>
<div class="container"></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/jquery/jquery.min.js}"/>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/bootstrap/js/bootstrap.js}"/>
<script th:src="@{/bootstrap/js/respond.min.js}"/>
<script th:src="@{/bootstrap/js/html5shiv.min.js}"/>
</body>
</html>