<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>三味书屋</title>
</head>
<body>
<div th:fragment="ment2">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>文章标题</strong>
                </div>
                <!-- 文章标题 -->
                <ol class="list-unstyled">
                    <li>文章标题</li>
                    <li>文章标题</li>
                    <li>文章标题</li>
                    <li>文章标题</li>
                    <li>文章标题</li>
                </ol>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="well well-sm">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-info">
                            文章内容
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
                            et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh
                            ultricies vehicula.

                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non
                            commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec
                            ullamcorper nulla non metus auctor fringilla.

                            Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non
                            mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat
                            porttitor ligula, eget lacinia odio sem nec elit.
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="well well-sm">
                            <input type="text" class="form-control" placeholder="输入你的讨论..."/>
                            <button type="button" style="margin-top: 5px; margin-left: 93%;"
                                    class="btn btn-info btn-sm">评论
                            </button>
                        </div>
                        <div class="well well-sm">
                            <p class="text-left">
                                Left aligned text. Left aligned text.Left aligned text.Left aligned text.Left
                                aligned text.Left aligned text.
                            </p>
                            <p class="text-right">姓名 2017/8/9</p>
                        </div>
                        <div class="well well-sm">
                            <p class="text-left">Left aligned text.</p>
                            <p class="text-right">姓名 2017/8/9</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>