<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
</head>
<body>

<div th:fragment="ment1">
    <div class="jumbotron">
        <marquee scrollamount="15" behavior="alternate" direction="right" align="middle">公告栏！！！
        </marquee>
        <marquee scrollamount="15">公告栏！！！</marquee>
        <marquee scrollamount="15">公告栏！！！</marquee>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">文章内容</div>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>标题</td>
                        <td>详情</td>
                        <td>作者</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>标题</td>
                        <td>详情</td>
                        <td>作者</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">精彩新闻</h3>
                </div>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>标题</td>
                        <td>详情</td>
                        <td>作者</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ID</td>
                        <td>标题</td>
                        <td>详情</td>
                        <td>作者</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>