<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>三味书屋</title>
</head>
<body>

<div th:fragment="ment2">

    <div class="row">

        <!-- 左侧列表的布局 -->
        <div class="col-xs-3">

            <div style="padding-bottom: 15px;">
                <input class="form-control" type="text" placeholder="文章搜索"/>
            </div>

            <!-- 左边下拉列表 -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="">

                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item" style="text-align: center;" >
                            <span class="badge" style="float: left">&lt;</span>
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-controls="collapseOne">
                                <span >Article classification #1</span>
                            </a>
                            <span class="badge" style="float: right">&gt;</span>
                        </li>
                    </ul>

                    <!--  panel-collapse collapse in 打开列表 -->
                    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible1.3</a></li>
                            <li><a href="#">Collapsible1.1</a></li>
                            <li><a href="#">Collapsible1.2</a></li>
                            <li><a href="#">Collapsible1.3</a></li>
                            <li><a href="#">Collapsible1.1</a></li>
                            <li><a href="#">Collapsible1.2</a></li>
                            <li><a href="#">Collapsible1.3</a></li>
                            <li><a href="#">Collapsible1.1</a></li>
                            <li><a href="#">Collapsible1.2</a></li>
                            <li><a href="#">Collapsible1.3</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" role="tab" id="headingTwo">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Article classification #2
                        </a>
                    </div>

                    <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible2.1</a></li>
                            <li><a href="#">Collapsible2.2</a></li>
                            <li><a href="#">Collapsible2.3</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="324235">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="headi324ngThree">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="collap567seThree" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="23432425">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="345645" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="234234">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="345346" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="345345">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="234" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="324">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="1212323" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="12344">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="1233" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading" id="headingThree">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Article classification #3
                        </a>
                    </div>

                    <div id="123" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Collapsible3.1</a></li>
                        </ul>
                    </div>

                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>

        </div>


        <!--  右侧文章内容的布局 -->
        <div class="col-xs-9">

            <div class="tab-content">
                <!-- 文章默认的详情页 -->
                <div role="tabpanel" class="tab-pane fade in active" id="article_default_page">

                    <div class="text-center">
                        <a id="article_button" class="btn btn-primary" href="#article_add_page"
                           aria-controls="article_add_page" role="tab" data-toggle="tab">发布文章
                        </a>
                    </div>

                    <div class="panel-body">
                        <p class="text-center">
                            最美的文字,最美的你！
                        </p>
                        <span style="float : left ">发布日期：2017/10/31</span>
                        <span style="float : right; ">作者：whilte</span>
                        <br/>
                        <br/>
                        <p class="written">
                            写作是运用语言文字符号反映客观事物、表达思想感情、
                            传递知识信息的创造性脑力劳动过程。作为一个完整的系统过程，
                            写作活动大致可分为“采集—构思—表述”三个阶段。
                            简单来说，写作生活中与人沟通、交流、分享信息的一种方式，就像我们平常说话一样。
                            写作就是用笔来说话。
                        </p>
                    </div>

                </div>

                <!-- 添加按钮触发的详情页 -->
                <div role="tabpanel" class="tab-pane fade" id="article_add_page">

                    <div class="panel panel-default" style="border: none;">

                        <div class="panel-body">

                            <form id="articleFrom" class="form-horizontal">

                                <div class="form-group">

                                    <label for="title" class="col-sm-2 control-label">文章标题:</label>
                                    <div class="col-sm-4">
                                        <input id="title" name="title" class="form-control" type="text"
                                               placeholder="请输入简单明了文章标题！"/>
                                        <span id="titlePrompt" class="help-block hidden">请输入文章标题信息！！</span>
                                    </div>

                                    <label for="author" class="col-sm-2 control-label">文章作者:</label>
                                    <div class="col-sm-4">
                                        <input id="author" name="author" class="form-control" type="email"
                                               placeholder="借鉴别人的文章,请表明文章的作者！"/>
                                        <span id="authorPrompt" class="help-block hidden">请输入文章作者！！</span>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label for="labelName" class="col-sm-2 control-label">文章标签:</label>
                                    <div class="col-xs-4">
                                        <select id="labelName" width="90%" class="form-control" name="labelName"
                                                multiple="multiple">
                                            <option value="cheese">Cheese</option>
                                            <option value="tomatoes">Tomatoes</option>
                                            <option value="mozarella">Mozzarella</option>
                                            <option value="mushrooms">Mushrooms</option>
                                            <option value="pepperoni">Pepperoni</option>
                                        </select>
                                        <span id="labelNamePrompt" class="help-block hidden">请选择文章标签！！</span>
                                    </div>

                                    <label for="isopen" class="col-sm-2 control-label">是否公开:</label>
                                    <div class="col-xs-4">
                                        <select id="isopen" name="isopen" class="form-control">
                                            <option value="1">私有</option>
                                            <option value="0">公开</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="original" class="col-sm-2 control-label">参考链接:</label>
                                    <div class="col-xs-10">
                                        <input id="original" name="original" type="url" class="form-control"
                                               placeholder="例如 : www.baidu.com"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="paragraphContent" class="col-sm-2 control-label">文章内容:</label>
                                    <div class="col-xs-10">
                                        <span id="paragraphContentPrompt" class="help-block hidden">请输入文章内容！！</span>
                                        <textarea id="paragraphContent" class="form-control"></textarea>
                                    </div>
                                </div>

                            </form>

                        </div>

                        <div class="panel-footer text-right">
                            <button id="break_button" type="button" class="btn btn-default">返回</button>
                            <button id="articleReleaseButton" type="button" class="btn btn-primary">文章发布</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>